[submodule "cakephp"]
	path = cakephp
	url = git://github.com/cakephp/cakephp.git
[submodule "app/Plugin/TwitterBootstrap"]
	path = app/Plugin/TwitterBootstrap
	url = git://github.com/slywalker/TwitterBootstrap.git
[submodule "app/Plugin/Upload"]
	path = app/Plugin/Upload
	url = git@github.com:josegonzalez/upload.git
[submodule "app/webroot/js/jquery-cookie"]
	path = app/webroot/js/jquery-cookie
	url = git@github.com:carhartl/jquery-cookie.git
